* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #6272a4;
    color: #fff;
    text-align: center;
    font-size: 25px;
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

input {
    margin-top: 2rem;
    background-color: #282a36;
    height: 3rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    width: 40rem;
    font-size: 25px;
    text-align: center;
}

input::placeholder {
    color: #fff;
}

#areaBotao {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

button {
    background-color: #fff;
    font-size: 25px;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    margin: 0 1rem;
    box-shadow: 5px 4px #282a365e;
    border: none;

}

button:hover {
    background-color: rgb(233, 232, 232);
    cursor: pointer;
}